*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #070707;
    color: #ffffff;    
}
html{
   overflow-x: hidden;
}
.box1 h2{
    width: 100vw;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    margin-inline: auto;
    padding-inline:20px ;
   
}
a{
    text-decoration: none;
    color: #ffffff;
}
.btn{
    background-color: #cc971b;
    color: #070707;
    padding: 0.4rem 2rem ;
    border-radius: 35px;
    font-weight:800 ;
    box-shadow: 1px 1px 16px #cc971b;
    transition: all 0.25s linear;
}
.btn:hover{
    background-color: #cc971bf1;
    box-shadow: none;
    box-shadow: 0px 0px 0px #cc971b;
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    height: 50px;

}
.nav-links a{
    margin-left: 3.5rem;
    font-size:1.1rem;
}
button{
    border: none;
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;
}
.nav-links a:hover{
    text-decoration: underline;
    color: #cc971b;
   
}
.menu-btn{
display:none ;

}
#surname{
    color: #cc971b;
}
.hero{
    
    height: calc(100vh - 50px);
    display: flex;
    flex-wrap: wrap;
 }
.hero .box1,.box2{
    /* border: 2px solid yellow; */
    height: 100%;
    width: 50%;
}
.box1{
    padding-top:10vw ;
}
#rg{
    color: #cc971b;
}
.box1 h3{
font-size: 2rem;
color: #cc971b;
margin-bottom: 0.8rem;
font-weight: 100;
}
.box1 h1{
    font-size:5vw;
    margin-bottom: 1rem;
}
.box1 h2{
    margin-bottom: 2rem;
}
.box2{ 
overflow: hidden;
}
.box2 img{
    
    height: 95%;
    filter: drop-shadow(0 0 7px #cc971b);
    cursor: pointer;
    transition: all 1s ease-in;
    /* animation: updown 1s linear 2s infinite normal ; */
    animation-name: updown;
    animation-duration:2s;
    
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
    position:relative;
}
@keyframes updown {
from{transform:translatey(0)}
to{transform:translatey(13px)

}
}
.box2 img:hover{
    filter: drop-shadow(0 0 15px #cc971b);
}
/** About Setcion*/

.a-box1 ,.a-box2 {
    height: 100%;
    width: 50%;
    border: 2px solid #cc971b;
    height: 80vh;
}

.a-box1 img{
height: 80%;

}
/**Section Headings */
.sec-head{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

/*            ***/
.skills h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;

}
.cards{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.color{
    color: #cc971b;
}
.card{
    /* border: 2px solid yellow; */
   
    height: 13rem;
    width: 14rem;
    display: flex;
    justify-content: center; 
     align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: #3d3e423f;
    transition: all 0.6s ease;
    cursor: pointer;

}
.card:hover{
    transform: scale(1.1);
}
.card p{
    font-size: 1rem;
}
.card img{
    height: 52%;
    width: 50%;
}
/* ****************demo*/
.demo{
    height: 100vh;
}/*********************/
.close-btn{
    display: none;
}
.services .container{
    margin-top: 10rem;
}
.services-card{
    display: flex; 
    flex-wrap: wrap;
   justify-content: space-between;
    margin-top: 5rem;
}
.s-card{
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    background-color: #3d3e423f;
    border-radius:15px ;
    cursor: pointer;
}
.s-card p{
    font-weight: 200;
    font-size: 1rem;
    word-spacing: 35%;
    line-height: 1.5rem;
    font-family:  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.s-card i{
    font-size: 4.75rem;
    color: #cc971b;
    
}

.s-card{
    height: 60vh;
    width:30% ;
    padding: 1.1rem;
    transition: all 0.5s linear;
}
.s-card:hover{
    transform: scale(1.05);
    border: 2.5px solid #cc971b;
}
.form-container{
    
    /* border: 2px solid #cc971b; */
}
.contact .sec-head{
    margin-bottom: 1rem;
}
.contact{
    margin-top: 12rem;
}
form{
   
    width:65% ;
  

gap: 1rem;
padding: 1.3rem;
text-align: center;
border-radius: 1rem;

}
form input{
    /* width: 49.6%; */
    /* width:49.6%; */
    height: 3.5rem;
    text-underline-offset: none;
    color: #fff;
    border-radius: 5px;
    background-color: #3d3e423f;
    border: none;
    font-weight: 600;
    outline: none;
    display: flex;
    width: 100%;

    
}
.input-box1 ,.input-box2{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
   
    
}
textarea{
    margin-top: 1rem;
    background: transparent;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
    background-color: #3d3e423f;
    border: none;
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
    outline: none;
}
#element{
    width: 100%;
   
}
.social-links{
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    font-size:1.7rem;
    
}


.social-links i{
  
    color: #cc971b;
    filter: drop-shadow(0 0 15px #cc971b);
    transition: all 0.4s linear;
}
.social-links i:hover{
  
    box-shadow: none;
    filter: none;
}
footer{
    
    padding: 2rem 4rem;
    background-color: #3d3e423f;
    text-align: center;
}
footer i{
    font-size: 0.8rem;
}
